* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
  background-color: rgb(140, 213, 228);
}


.logo {
  cursor: pointer;
  margin-right: auto;
  width: 70px;
  height: 70px;

  
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  padding: 10px 10%;
  margin: 3px;
}

.intro {
  text-align: center;
  width: 90%;
  font-family: "Monserrat", sans-serif;
  font-size: xx-large;
  display: flex;
  align-items: center; 
  justify-content: center;
  font-weight: bold;
  padding: 60px;
  margin-top: 10px;

}

li, a, button {
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black; /*Isabel changed to black because font it was hard to read*/
  text-decoration: none;
  border-radius: 7.5px;
}


.Nav_link {
list-style: none;

}

.Nav_link li {
display: inline;
padding: 10px 20px;
background-color: whitesmoke;

}

.Nav_link li a {
  transition: all 0.3s ease 0s;
}


.Nav_link li a:hover {
  color: rgb(189, 42, 42); /*Isabel changed to red because font changed to black as it was hard to read*/
}


/*Image Grid*/

.container{
    height: 100vh;
    display: flexbox;
 
   /* Change  values   👇 to experiment*/
    justify-content: flex;
    margin: auto
 }

 .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
      }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }